html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  background-color: #dbd6cf;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: Bevan, cursive;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  background-color: #713837;
  padding: .75em;
  border-radius: 5px;
  text-align: center;
  margin-bottom: .3em;
}

a {
  text-decoration: none;
  color: #fff;
}

li:hover {
  background-color: #f33;
}

body {
  background-color: #79756f;
  margin: 0;
  padding: .6em;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
}
