html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  background-color: #dbd6cf;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: Bevan, cursive;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}
