html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  background-color: #dbd6cf;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: #79756f;
  border: 3px solid ##595652;
}

h1 {
  margin: 0;
  text-align: center;
  font-family: 'Bevan', cursive;
  color: #fff;

}

ol {
  margin: .3em;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
}

div {
  background-color: #79756f;
  padding: .75em;
}

li {
  background-color: #713837;
  display: inline-block;
  padding: .6em;
  margin: .3em;
  border: 3px solid #713837;
  border-radius: 10px;
}

li:hover {
  background-color: #f33;
  border: 3px solid #f33;
  border-radius: 10 px;
}

a:hover {
  background-color: #f33;
}
